.card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card_custom {
    width: 12rem;
}

.stock_text {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.stock_text > * {
    font-size: 0.8rem;
}